body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #f0f8ff, #f4f4f4);
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main
{
    text-align:center;
}
h1
{
    text-align:center;
}
.maindiv {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.maindiv:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: none;
    margin-bottom: 30px;
}

legend {
    font-size: 1.6em;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

label {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], 
input[type="date"], textarea {
    width: 20%;
    padding: 10px;
    height:10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
}
input[type="number"]
{
    width:20%;
}
input[type="date"]
{
    width:20%;
}
textarea
{
    height:50px;
    width:60%;
}

input[type="tel"]
{
    width:30%;
}
select{
    width:20%;
    font-size: 0.85em;
    padding:2px;
    margin-bottom: 10px;
    border-radius: 8px;
}

input:focus, textarea:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}


input[type="radio"], input[type="checkbox"] {
    margin-right: 8px;
}

p {
    font-size: 0.95em;
    line-height: 1.6;
    color: #666;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #333;
}

fieldset:last-of-type {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

input[type="radio"] + label, input[type="checkbox"] + label {
    font-size: 1em;
    margin-right: 20px;
    display: inline-block;
}

.adddiv
{
    margin-left:60px;
    display:flex;
    align-items:center
}